<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="google-colors">
        <img src="{{ url_for('static', filename='images/kdramaalert_logo.png') }}" class ='logo' />
      </div>
      <div class="input-box" onclick="sendFocus()">
        <img src="{{ url_for('static', filename='images/mag.svg') }}" />
        <input
          class="input-text"
          placeholder="Search by KDrama title or description for recs ..."
          id="filter-text-val"
          onkeyup="filterText()"
        />
      </div>
    </div>
    <div id="answer-box"></div>
  </div>

  <script>
    function answerBoxTemplate(row) {
      return `<div class='result-card'>
          <img src=${row.img} class='drama-image'>
          <div class='drama-info'>
              <h3 class='drama-title'>${row.name}</h3>
              <div class='rating-with-image'>
                  <img src="{{ url_for('static', filename='images/heart.svg') }}" />
                  <p class='drama-rating'>${row.score}/10</p>
              </div>
              <p class='drama-desc'>${row.synopsis.length > 280 ? row.synopsis.slice(0, 280) + "..." : row.synopsis}</p>
              <div class='drama-genres-tags-list'>
                  ${row.genres.map(
                      (genres) => `<p class='drama-genres'>${genres}</p>`
                  ).join("")}
              </div>
              <p class='drama-desc'>Similarity: ${Number((row.simScore).toFixed(2))}%</p>
              <div class='card-arrow'>
                  <img src="{{ url_for('static', filename='images/right_arrow.png') }}" class='arrow-img' />
              </div>
          </div>
      </div>`;
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus();
    }

    function filterText() {
      if (event.key === "Enter") {
        document.getElementById("answer-box").innerHTML = "";
        fetch(
          "/episodes?" +
            new URLSearchParams({
              title: document.getElementById("filter-text-val").value,
            }).toString()
        )
          .then((response) => response.json())
          .then((data) => {
            if (data.length === 0) {
              document.getElementById("answer-box").innerHTML = "<div class='no-results'><p>Sorry, no results found :(<p></div>";
              document.getElementById("answer-box").scrollIntoView({ behavior: "smooth" });

              return;
            }
            else{
              data.forEach((row, index) => {
                if (index >= 24) {
                  return;
                }
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate(row);
                document.getElementById("answer-box").appendChild(tempDiv);
              });
            }
            document.getElementById("answer-box").classList.add("visible");
            document.getElementById("answer-box").scrollIntoView({ behavior: "smooth" });
          });
        }
    }
  </script>
</body>
