<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KDramaAlert</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicons.png" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
      .tooltip-graph {
        position: absolute;
        display: none;
        pointer-events: none;
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 10;
      }
      .bar rect {
        fill: #86abdc;
      }
      .bar text {
        font: 12px sans-serif;
        fill: #465973;
      }
    </style>
  </head>
  <body>
    <div id="tooltip-graph" class="tooltip-graph"></div>
    <div class="full-body-container">
      <div class="top-text">
        <div>
          <img
            src="{{ url_for('static', filename='images/kdramaalert_logo.png') }}"
            class="logo"
          />
        </div>
        <div class="input-box" onclick="sendFocus()">
          <img src="{{ url_for('static', filename='images/mag.svg') }}" />
          <input
            class="input-text"
            placeholder="Search by KDrama title or description for recs ..."
            id="filter-text-val"
            onkeyup="searchDramas(event)"
          />
        </div>
        <div id="advanced-search-wrapper">
          <button
            class="advanced-search-toggle"
            onclick="toggleAdvancedSearch()"
          >
            Advanced Search
            <span id="dropdown-arrow" class="dropdown-arrow">
              <svg
                width="22"
                height="22"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 8L10 13L15 8"
                  stroke="#465973"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <div id="advanced-search-section" class="advanced-search-section">
            <div class="filter-box">
              <img
                src="{{ url_for('static', filename='images/mag-minus.svg') }}"
                width="20px"
                height="20px"
              />
              <input
                class="exclude-text"
                placeholder="Input keywords (separated by commas) to exclude ..."
                id="exclude-text-val"
                onkeyup="searchDramas(event)"
              />
            </div>
            <div class="genre-tags" id="genre-options">
              <div class="genre-tags-title">Filter by Genre:</div>
            </div>
          </div>
        </div>
        <button class="search-button" onclick="searchDramas(event)">
          Search
        </button>
      </div>
      <div id="latent-dimension"></div>
      <div id="answer-box"></div>
    </div>

    <script>
      const includedGenres = new Set();
      const excludedGenres = new Set();
      const allGenres = [
        "Comedy",
        "Romance",
        "Youth",
        "Drama",
        "Family",
        "Business",
        "Melodrama",
        "Life",
        "Fantasy",
        "Food",
        "Medical",
        "Psychological",
        "Horror",
        "Action",
        "Supernatural",
        "Thriller",
        "Mystery",
        "Law",
        "Crime",
        "Historical",
        "Political",
        "Sci-Fi",
        "Military",
        "Sports",
        "Sitcom",
        "Music",
      ];

      function renderGenreButtons() {
        const container = document.getElementById("genre-options");
        container.innerHTML =
          '<div class="genre-tags-title">Filter by Genre:</div>';
        const checkSvg = `
        <svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 10L9 14L15 6" stroke="#465973" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        `;

        const xSvg = `
        <svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 6L14 14M14 6L6 14" stroke="#465973" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        `;

        const plusSvg = `
        <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4V16M4 10H16" stroke="#465973" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        `;

        allGenres.forEach((genre) => {
          const button = document.createElement("button");
          button.className = "genre-button";

          if (includedGenres.has(genre)) {
            button.classList.add("included");
            button.innerHTML = `${genre} ${checkSvg}`; // check
          } else if (excludedGenres.has(genre)) {
            button.classList.add("excluded");
            button.innerHTML = `${genre} ${xSvg}`; // cross
          } else {
            button.innerHTML = `${genre} ${plusSvg}`; // plus
          }

          button.onclick = () => toggleGenre(genre);
          container.appendChild(button);
        });
      }

      function toggleGenre(genre) {
        if (includedGenres.has(genre)) {
          includedGenres.delete(genre);
          excludedGenres.add(genre);
        } else if (excludedGenres.has(genre)) {
          excludedGenres.delete(genre);
        } else {
          includedGenres.add(genre);
        }
        renderGenreButtons();
      }

      function toggleAdvancedSearch() {
        const section = document.getElementById("advanced-search-section");
        const button = document.querySelector(".advanced-search-toggle");
        const arrow = document.getElementById("dropdown-arrow");

        const isOpen = section.classList.toggle("open");
        document
          .getElementById("advanced-search-wrapper")
          .classList.toggle("open");
        button.classList.toggle("expanded", isOpen);
        arrow.classList.toggle("open", isOpen);
      }

      function answerBoxTemplate(row) {
        return `<div class='result-card'><a href='${row.id}' target='_blank'>
        <img src=${row.img} class='drama-image'>
        <div class='drama-info'>
            <h3 class='drama-title'>${row.name}</h3>
            <div class='rating-with-image'>
                <img src="{{ url_for('static', filename='images/heart.svg') }}" />
                <p class='drama-rating'>${row.score}/10</p>
            </div>
            <p class='drama-desc'>${
              row.synopsis.length > 280
                ? row.synopsis.slice(0, 280) + "..."
                : row.synopsis
            }</p>
            <div class='drama-genres-tags-list'>
                ${row.genres
                  .map((genre) => `<p class='drama-genres'>${genre}</p>`)
                  .join("")}
            </div>
            <div class="sim-score">
                <p class='drama-desc'>Similarity: ${Number(
                  row.simScore.toFixed(2)
                )}%</p>
                <p class='info-button' 
                    onmouseover='showGraph(event, {
                      cossim: ${row.cossim},
                      titleSim: ${row.titleSim},
                      svdSim: ${row.svdSim},
                      socialScore: ${row.socialScore}
                    })' 
                    onmouseout='hideGraph()'>&#9432;</p>
            </div>
            <div class='card-arrow'>
                <p class="right-arrow">&rsaquo;</p>
            </div>
        </div></a>
      </div>`;
      }
      function showGraph(event, row) {
        const data = [
          { name: "Title Sim", value: Number(row.titleSim * 100).toFixed(2) },
          { name: "Desc Sim", value: Number(row.cossim * 100).toFixed(2) },
          { name: "SVD Sim", value: Number(row.svdSim * 100).toFixed(2) },
          {
            name: "Social Sim",
            value: Number(row.socialScore * 100).toFixed(2),
          },
        ];

        const tooltipWidth = 240; // same as your SVG width
        const tooltipHeight = 160; // match your SVG height
        const offset = 15;

        const pageX = event.pageX;
        const pageY = event.pageY;

        const left =
          pageX + tooltipWidth + offset > window.innerWidth
            ? pageX - tooltipWidth - offset // shift left
            : pageX + offset; // default right

        const top = pageY - tooltipHeight - 10;

        const container = d3.select("#tooltip-graph");
        container
          .style("display", "block")
          .style("left", `${left}px`)
          .style("top", `${top}px`);

        container.selectAll("svg").remove();

        const width = 240;
        const height = 160;
        const margin = { top: -5, right: 15, bottom: 20, left: 55 };

        const svg = container
          .append("svg")
          .attr("width", width)
          .attr("height", height);

        const x = d3
          .scaleLinear()
          .domain([0, 100])
          .range([margin.left, width - margin.right]);

        const y = d3
          .scaleBand()
          .domain(data.map((d) => d.name))
          .range([margin.top, height - margin.bottom])
          .padding(0.5);

        svg
          .append("g")
          .selectAll("rect")
          .data(data)
          .join("rect")
          .attr("x", x(0))
          .attr("y", (d) => y(d.name))
          .attr("width", (d) => x(d.value) - x(0))
          .attr("height", y.bandwidth())
          .attr("fill", "#86abdc");

        svg
          .append("g")
          .attr("transform", `translate(${margin.left},0)`)
          .call(d3.axisLeft(y).tickSize(0))
          .selectAll("text")
          .style("font-size", "12px");

        svg
          .append("g")
          .attr("transform", `translate(0,${height - margin.bottom})`)
          .call(
            d3
              .axisBottom(x)
              .ticks(4)
              .tickFormat((d) => `${d}%`)
          )
          .selectAll("text")
          .style("font-size", "10px");

        svg
          .selectAll("text")
          .style("fill", "#465973")
          .style("font-size", "10px")
          .style("font-family", "Inter");

        svg.selectAll(".domain, .tick line").attr("stroke", "#465973");
      }

      function hideGraph() {
        d3.select("#tooltip-graph").style("display", "none");
      }

      function sendFocus() {
        document.getElementById("filter-text-val").focus();
      }

      function searchDramas(event) {
        if (event.type === "keyup" && event.key !== "Enter") return;

        const title = document.getElementById("filter-text-val").value;
        const exclude = document.getElementById("exclude-text-val").value;
        const includeGenres = Array.from(includedGenres).join(",");
        const excludeGenres = Array.from(excludedGenres).join(",");
        document.getElementById("answer-box").innerHTML = "";

        fetch(
          "/episodes?" +
            new URLSearchParams({
              title,
              exclude,
              genre: includeGenres,
              exclude_genre: excludeGenres,
            }).toString()
        )
          .then((response) => response.json())
          .then((data) => {
            const results = data.results;
            const latent = data.dims;

            if (results.length === 0) {
              document
                .getElementById("latent-dimension")
                .classList.remove("visible");
              document.getElementById("answer-box").classList.add("visible");
              document.getElementById("answer-box").innerHTML =
                "<div class='no-results'><p>Sorry, no results found :(<p></div>";
              document
                .getElementById("answer-box")
                .scrollIntoView({ behavior: "smooth" });
              return;
            }

            document.getElementById(
              "latent-dimension"
            ).innerHTML = `Looking for latent dimensions: ${latent
              .map((dim) => `<p class='latent-chips'>${dim[0]}</p>`)
              .join("")}`;

            results.slice(0, 24).forEach((row) => {
              const tempDiv = document.createElement("div");
              tempDiv.innerHTML = answerBoxTemplate(row);
              document.getElementById("answer-box").appendChild(tempDiv);
            });

            document.getElementById("answer-box").classList.add("visible");
            document
              .getElementById("latent-dimension")
              .classList.add("visible");
            document
              .getElementById("latent-dimension")
              .scrollIntoView({ behavior: "smooth" });
          });
      }
      document.addEventListener("DOMContentLoaded", renderGenreButtons);
    </script>
  </body>
</html>
