<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
<body>
  <div class="full-body-container">
    <div id="container"></div>
  </div>

  <script>
    const drama = "{{drama}}";

    function pageTemplate(drama) {
      return `<div class='single-drama-container'>
          <img src=${drama.img} class='drama-image-1'>
          <div class='single-drama-info'>
            <div class='single-drama-row single-drama-row-1'>
              <p class='no-margin'>${drama.name}</p>
              <div class='rating-with-image'>
                <p class='no-margin'>${drama.score}/10</p>
                <img src="{{ url_for('static', filename='images/heart.svg') }}" class='single-drama-heart' />

              </div>
            </div>
            <div class='single-drama-row single-drama-row-2'>
              <p class='no-margin'>${drama.year}</p>
              <p class='no-margin'>${drama.episodeCount}</p>
            </div>
            <p class='single-drama-synopsis'>${drama.synopsis}</p>
            <div class='drama-genres-tags-list'>
  ${drama.genres
    .map((genre) => `<p class='drama-genres-1'>${genre}</p>`)
    .join("")}
</div>
<div class='rating-with-image'>
                <img src="{{ url_for('static', filename='images/movieicon.svg') }}" />
                <div class='drama-networks'>
      ${drama.network
        .map((network) => `<p class='drama-networks-text'>${network}</p>`)
        .join("")}
    </div>
            </div>
    
          </div>
        </div>
        <div id="container2" class='recommend-drama-container'>
        </div>
        `;
    }

    function createPage(drama) {
      document.getElementById("container").innerHTML = pageTemplate(drama);
      document.getElementById("container2").innerHTML =
        createRecommendedGenreSection(drama.similarDramas);
    }

    function createRecommendedGenreSection(genres) {
      return genres.map(
        (genre) => `<div class='recommend-drama-section'> 
          <h3 class='recommend-drama-header'>Other Similar <strong>${genre[0]}</strong> K-Dramas</h3>
          <div class='recommend-drama-list'>
            ${genre[1].map(
              (row) =>
                `<div><a href='${row.id}' target='_blank'>
                    <img class='drama-image-2' src=${row.img}> 
                    </a>
                  </div>`
            ).join("")}
            </div>
        </div>`
      ).join("");
    }

    function fetchDrama(id) {
      fetch("/drama/" + id, {
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((res) => createPage(res));
    }

    fetchDrama(drama);
  </script>
</body>
